body,
html{
    background-color: blue;

}
h1{
    color: white;
}
ol{
    text-align: left;
    color: red;
}
h2{
    color: white;
    text-align: cetre;
}
h3{
    color: light-orange;
    text-align: cetre;
}

    

